{% extends "base.html" %} {% block body %}

<div class="container">
  <section class="w-100 px-4 py-5" style="border-radius: 0.5rem 0.5rem 0 0">
    <div class="row d-flex justify-content-center">
      <div class="col col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px">
          <div class="card-body p-4">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img
                  src="{{ foto_perfil }}"
                  alt="Generic placeholder image"
                  class="img-fluid"
                  style="width: 180px; border-radius: 10px"
                />
              </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="mb-1">{{ current_user.username }}</h5>
                <p class="mb-2 pb-1">{{ current_user.email }}</p>
                <div
                  class="d-flex justify-content-between rounded-3 p-2 mb-2 bg-body-tertiary"
                >
                  <div class="d-flex flex-column">
                    <p class="small text-muted mb-1">Coursos</p>
                    <p class="mb-0">0</p>
                  </div>
                  <div class="d-flex flex-column">
                    <p class="small text-muted mb-1 align-end">Posts</p>
                    <p class="mb-0">0</p>
                  </div>
                </div>
                <div class="d-flex pt-1">
                  <a href="{{url_for('perfil_editar')}}"
    
                    class="btn btn-outline-primary me-1 flex-grow-1"
                  >
                    Editar Perfil
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% block form_editar_perfil %}

{% endblock %}
{% endblock %}
